<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<%= link_to "Edit Tag", edit_tag_path(@tag) %>
<%= link_to "Back", tags_path %>
