<h1>Transaction</h1>

<p>
  <strong>Date:</strong>
  <%= @transaction.trans_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@transaction.amount, unit: '') %>
</p>

<p><br>
<%= link_to "Back", transactions_path %>
</p>